/* .row{
    outline: 1px solid red;
}
[class*='col-']{
    outline: 1px solid blue;
} */
.container{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    width: 100%;
}

/* nav */
header{
    position: sticky;
    top:0;
    padding-bottom: 10px;
    z-index: 10;
}
.src-only{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

#menu-control{
    position: absolute;
    top: -20px;
}
.maikonlogo{
    background-color: #fff;
    display: flex;
    align-items: center;
}
.item_nav{
    display: flex;
}
.item_nav a{
    padding: 7px 10px;
    text-decoration: none;
    color: #5d6678;
    font-size: 16px;
    line-height: 74px;
}
.item_nav .item_nav_home{
    text-decoration: underline;
}
.item_nav .X{
    text-align: end;
    margin: 8px 10px;
    font-weight: 500;
    font-size: 16px;
}



/* creativityinfo */
.row.creativityinfo,.row.contactinfo{
    display: flex;
    align-items: center;
}
.row.creativityinfo:nth-of-type(2){
    flex-direction: column-reverse;
}
/* .item_creativityinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} */
/* .item_logo{
    padding: 10px;
} */
.item_txt{
    margin-left: 0px;
    padding-bottom: 30px;
}
.item_txt h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    padding: 30px;
    padding-left: 0;
}
.item_txt p{
    font-size: 14px;
    color: #5d6678;
    line-height: 20px;
}
.item_btn_learn,.item_btn_contact{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}
/* .item_btn_learn img{
    padding-left: 20px;
} */
.btn_learn, .btn_contact, .btn_project, .btn_send ,.btn_subscribe_wrap{
    /* display: block; */
    font-size: 14px;
    background-color: #1fde82;
    line-height: 1.5em;
    margin: auto 0px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 30px;
    font-weight: 600;
    text-align: center;
    text-transform:uppercase;
    box-shadow: 0px 8px 32px rgb(31 222 130 / 46%);
}
.btn_contact.btn_contact_subscribe{
    /* display: block; */
    color: #3b3d42;
    border: 2px solid #f2f5fc;
    background-color: #fff;
    /* margin-left: 20px; */
    font-weight: 600;
    text-transform:uppercase;
    box-shadow: none;
}

/* services */
section.services, section.contactinfo{
    margin-top: 5%;
}
h2.services{
    font-size: 42px;
    line-height: 1.3em;
    letter-spacing: 0.84px;
    font-weight: 300;
    color: #1d273b;
}
.item_services img{
    width: 70px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    
}
/* .item_services .pic{
    box-shadow: 0px 8px 32px 0px rgb(31 222 130 / 46%);
} */

.item_services h3{
    font-size: 30px;
    color: #1d273b;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 30px;
}
.item_services p{
    font-size: 12px;
    color: #5d6678;
    line-height: 18px;
    margin-bottom: 30px;
}
.item_services a{
    font-size: 14px;
    font-weight: 500;
    color: #3b3d42;
    /* padding-left: 0; */
    margin-top: auto;
}
.item_services{
    height: 285px;
    border-radius: 10px;
    background-color: #fff;
    margin: 15px 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 44px 0px rgb(17 29 48 0.06);
}

/* num */
section.colorblock, section.colorblock .row{
    background-color: #2570ff;
}
.item_colorblock{
    background-color: #3f81ff;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
}
.item_colorblock .num{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 5%;
}
.item_colorblock .txt{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 5%;
}
.item_txt.colorblock h2{
    font-size: 30px;
    color: #fff;
}
.item_txt.colorblock p{
    font-size: 14px;
    color: #f2f5fc;
}
.item_btn_otherservice a{
    color:#f2f5fc;
    border: 1px solid #f2f5fc;
    font-size: 14px;
    line-height: 1.5em;
    margin: auto 0px;
    padding: 12px 10px;
    border-radius: 5px;
    margin-left: 5%;
    font-weight: 600;
    text-align: center;
    text-transform:uppercase;
}
.item_btn_otherservice a:hover, .btn_contact_subscribe:hover, .item_subscribe:hover{
    background-color: #1fde82;
    color: #fff;
    border: none;
}
/* icon */
section.colorblock{
    margin-top: 5%;
}
.container.icon{
    margin-top: 5%;
}
.iconnum{
    width: 70px;
    height: 70px;
}
.iconspan{
    font-size: 28px;
    color: #1d273b;
}
.col-md-8 .item_txt h2{
    font-size: 20px;
    color: #1d273b;
    line-height: 25px;
    padding: 10px;
}
.col-md-8 .item_txt p{
    font-size: 12px;
    color: #5d6678;
}
.icon_num_wrap{
    display: flex;
}
.row.icon{
    flex-wrap: wrap-reverse;
}
/* project */
section.project{
    margin-top: 5%;
}
section.project, section.project .container, .row.project{
    background-color: #f9fbff;
}

.col-12.col-md-6.project{
    font-size: 28px;
    color: #1d273b;
    line-height: 1.31em;
    letter-spacing: 0.84px;
}
.row.project{
    margin-top: 3%;
    margin-bottom: 3%;
    align-content: center;
}

.pic.project{
    margin: 5%;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
}

.colorblocktxt{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    transition: .8s;
    background-color: #1fde82;
    color: #f2f5fc;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pic.project:hover .colorblocktxt{
    top: 0;
}
.colorblocktxt h3{
    font-size: 20px;
}
.colorblocktxt a{
    color: #f2f5fc;
    display: block;
    margin-bottom: 15%;  
}

/* signup */
/* .row.signup{
    display: flex;
    flex-direction: column;
} */
.container.signup{
    margin-top: 5%;
}
.item.signup, .item_signup{
    margin: 10%;
}
.item_signup{
    display: flex;
    flex-direction: column;
    /* border:2px solid#1d273b; */
    border-radius: 5%;
    padding: 10% 5%;
}
.col-12.col-md-6.signup{
    box-shadow: 0px 4px 44px 0px rgb(17 29 48 / 6%);
    border-radius: 4%;
}
.item_signup p{
    font-size: 30px;
    margin-bottom: 3%;
    color: #1d273b;
}
.item_signup span{
    font-size: 12px;
    text-align: end;
}
.btn_send, .btn_subscribe_wrap{
    display: inline-block;
    line-height: 1em;
    border: none;
}
.btn_send_text{
    text-align: start;
}
input{
    padding: 2%;
    margin-bottom: 5%;
}
textarea{
    padding: 3%;
}
.messagetextarea{
    margin-bottom: 5%;
    resize: vertical;
}
/* subscribe_wrap */
section.subscribe_wraps{
    background-color: #f7faff;
    margin-top: 5%;
    
}
.subscribe_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7faff;
}

.item_subscribe_content p{
    font-size: 28px;
    color: #1d273b;
    margin-top: 5%;
}
.sendemil_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendemail{
    margin-top: 5%;
    margin-right: 0;
    margin-left: 15%;
    display: inline-block;
    width: 70%;
    background-color: #fff;
    border: none;
    border-radius: 4%;
    box-shadow: rgba(17, 29, 48, 0.06);
}
.btn_subscribe_wrap{
    position: relative;
    box-shadow: rgba(31, 222, 130, 0.46);
    left: -18%;
    height: 20%;
}
.container.subscribe_wrapsup{
    background-color: #f7faff;
}
/* info */
.row.info{
    margin-top: 5%;
}
.item_info_title_pic{
    width: 158px;
    margin-top: 5%;
}

.item_info_content,.item_info_content_service,.item_info_content_about{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}

.item_info_content, .item_info_content_service a,.item_info_content_about a,.item_info_content span, .item_info_content_join p{
    color: #5d6678;
    font-size: 16px;
    padding-bottom: 4%;
    line-height: 25px;
}
.item_info_content a{
    color: #1fde82;
    padding-top: 2%;
}
.item_info_title, .item_info_title_join{

    display: inline-block;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.item_info_title_join{
    margin-bottom: 2%;
}
.item_info_title h4 ,.item_info_title_join h4{
    font-size: 30px;
    font-weight: 400;
}
.item_info_content_join{
    margin-bottom: 10%;
}
.watch_video{
    display: flex;
}
.watch_video span{
    display: block;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}
i{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #c0c7d2;
    border-radius: 50%;
    color: #c0c7d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 1%;
    
}
i::before{
    position: absolute;
    left: 28%;
    top: 25%;
}
i.fab.fa-youtube::before{
    left: 20%;
}
i.fab.fa-facebook-f::before{
    left: 30%;
}
i.fal.fa-caret-right::before{
    left: 30%;
    color: black;
}
.fal.fa-angle-up::before{
    color: #1fde82;
    border: none;
}
.a_sns{
    margin-top: 10%;
}
.a_sns i:hover{
    border: none;
    background-color:  #1fde82;
    color: #fff;
}
/* footer */
.item_footer p,.item_footer a{
    color: #5d6678;
    font-size: 14px;
    text-align: center;
    
}
.item_footer.faq{
    text-align: center;
    margin-top: 2%;
}
.item_footer.copyright a{
    color: #1fde82;
    display: block;
    text-align: center;
}
.item_footer.faq a.faq{
    margin-left: 5%;
}
.row.footer{
    margin-bottom: 2%;
    margin-top: 6%;
}




@media screen and (max-width:767px) {
    .row.maikonlogo{
        align-items: center;
    }
    .img_maikonlogo{
        width: 158px;
        margin-top: 5px;
    }

    .item_nav{
        position: fixed;
        height: calc(100% - 54px);
        width: 75%;
        background-color: #fff;
        top:54px;
        right: -100%;
        transition: .5s;
    }
    #menu-control:checked ~ .container .item_nav{
        right: 0px;
    }
    .item_nav{
        flex-direction: column;
    }
    .item_nav a + a{
        border-top: 1px solid #000;
    }
    .hb{
        width: 40px;
        height: 40px;
        background-color: #1fde82;
        display: flex;
        right: 0;
    }
    .hb::after{
        content: '';
        display: block;
        width: 60%;
        height: 4px;
        background-color: #fff;
        margin: auto;
        box-shadow: 0px 8px 0px #fff,
                    0px -8px 0px #fff;
    }
    .item_hb{
        display: flex;
        justify-content: flex-end;
    }
    .subscribe{
        display: none;
    }
    /* creativityinfo */
    /* services */
    /* num */
    /* info */

    
}






@media screen and (min-width:768px) {
    .X{
        display: none;
    }
    a.item_subscribe{
        display: block;
        line-height: 57px;
        margin-left: 20px;
        color: #818a91;
        border: 2px solid #f2f5fc;
        border-radius: 5px;
        padding-right:15px;
        font-weight: 600;
        text-align: center;
        text-transform:uppercase;
    }
    .item_nav a{
        font-size: 14px;
    }
    .item_nav{
        justify-content: center;
    }
    
    .item_nav_about:hover, .item_nav_services:hover, .item_nav_team:hover, .item_nav_case:hover , .item_nav_contacts:hover{
        text-decoration: underline;
    }

    /* creativityinfo */
    .row.creativityinfo:nth-of-type(2){
        flex-direction: row-reverse;
    }
    .item_txt{
        margin-left: 30px;
    }
    .item_txt h2{
        font-size: 42px;
        font-weight: 100;
        color: #1d273b;
    }
    .btn_learn, .btn_contact, .btn_project, .btn_send ,.btn_subscribe_wrap{
        margin-left: 30px;
    }
    /* services */
    h2.services{
        font-size: 28px;
    }
    .item_services h3{
        font-size: 21px;
    }
    .item_services p{
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .item_services{
        margin: 15px;
    }

    /* num */
    .item_colorblock{
        margin: 20px;
    }
    .item_colorblock .txt{
        text-align: left;
    }
    .item_txt.colorblock h2{
        font-size: 28px;
    }
    .item_btn_orderservice{
        margin-left: 5%;
    }
    .col-md-6.colorblock{
        display: flex;
        align-items: center;
    }

    /* icon */
    .iconspan{
        margin: 20px 15px;
    }
    .icon_num_wrap .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container.icon :nth-child(even) .col-12.col-md-3.icon{
        margin-left: 5%;
    }
    .col-12.col-md-8 .item_txt{
        margin-left: 0;
    }
    .col-md-8 .item_txt p{
        font-size: 12px;
    }
    .container.icon .row.icon:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .container.icon :nth-child(odd) .col-12.col-md-3.icon{
        margin-right:5%;
    }
    .container.icon :nth-child(odd) .icon_num_wrap{
        justify-content: flex-end;
    }


    /* projects */
    .col-12.col-md-6.project_btn{
        text-align: end;
    }
    a.btn_project{
        display: inline-block;
    }
    .colorblocktxt h3{
        font-size: 35px;
    }
    .colorblocktxt a{
        font-size: 14px;
        margin-bottom: 8%;
    }
    .colorblocktxt{
        padding: 8%;
    }
    /* signup */
    .item_signup p{
        font-size: 42px;
    }
    .item_subscribe_content p{
        font-size: 40px;
    }

    /* info */
    .item_info_content_service a,.item_info_content_about a{
        font-size: 16px;
        padding-top:3%;
    }
    .item_info_content_join p{
        margin-top: 8%;
    }

    .item_info_title{
        font-weight: 400;
        display: inline-block;
        width: 100%;
    }
    .item_info_title h4,.item_info_title_join h4{
        font-size: 22px;
        font-weight: 500;
        line-height: 40px;
        margin-top: 3%;
    }
    .item_footer.copyright a{
        display: inline-block;
    }
    .col-12.col-md-6.copyright{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item_footer.faq{
        text-align: end;
        margin-top: 0;
    }
    footer.copright{
        margin-bottom: 10%;
    }
}